<form class="logout" action="{{ path_for('logout') }}" method="post">
  <button type="submit" name="logout">Logout</button>
</form>

<h1>{{ openIssues }} Open {{ closedIssues }} Closed </h1>
<table>
    {% for issue in issues %}

                <tr>
                    <th> {{ issue.title }} </th>
                </tr>
                <tr>
                    <td> Opened at {{ issue.created }} by {{ issue.user }} </td>
                </tr>
                <tr>
                    <td> #{{ issue.id }} has {{ issue.comments }} comments </td>
                </tr>
                <tr>
                    <td> {{ issue.body }} </td>
                </tr>
    {% endfor %}
</table>
