<form class="logout" action="{{ path_for('logout') }}" method="post">
  <button type="submit" name="logout">Logout</button>
</form>

<h1>{{ openIssues }} Open {{ closedIssues }} Closed </h1>
{% for issue in issues %}
    {{ issue.title }}
    {% for label in issue.labels %}
            <text style="background-color:{{label.labelColor}}"> {{ label.labelName }}</text>
    {% endfor %}
    Comments {{ issue.comments }}
    </br>
    #{{ issue.id }} opened {{ issue.created }} ago by {{ issue.user }} </br>
{% endfor %}
